@import "../../config";


.slider {
    width: 100%;
    height: 100%;
    // background: $section-background;
    overflow: hidden;

    .slider-content {
        position: relative;
        height: 100%;

        .slider-cards-container {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            transition: all 1s ease-out;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            // padding : 0 10px;

            .card-container{
                @include flexen(row, center, center);
            }
        }
    }


}